<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/img/hiro-hamada.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= user.name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>


      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
        <li>
            <a href="/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        </li>

        <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Products</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

        <ul class="treeview-menu">
            <li><a href="/products">All Products</a></li>
            <li><a href="/products/add">Add Product</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
        </li>

        <li class="treeview">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Departement</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/departements">All Departement</a></li>
            <li><a href="/departements/add">Add Departement</a></li>
        </ul>
        </li>

        <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Jobs</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/jobs">All Jobs</a></li>
            <li><a href="/jobs/add">Add Job</a></li>
        </ul>
        </li>

        <li class="treeview">
        <a href="/users">
            <i class="fa fa-dashboard"></i> <span>Users</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

        <ul class="treeview-menu">
            <li><a href="/users">All Users</a></li>
            <li><a href="/users/add">Add User</a></li>
        </ul>
        </li>

          <ul class="treeview-menu">
            <li><a href="/users">All Users</a></li>
            <li><a href="/add_user">Add User</a></li>
          </ul>
        </li>

        <li>
          <a href="/audit">
            <i class="fa fa-dashboard"></i> <span>Audit Logs</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <li>
          <a href="/reports">
            <i class="fa fa-dashboard"></i> <span>Report</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        
        <!-- li class="active">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li -->

        <li>
          <a href="/logout">
            <i class="fa fa-dashboard"></i> <span>Logout</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        
        
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
