<%- include('partials/header') -%>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <%- include('partials/widget-header', {user: user}) -%>

    <%- include('partials/widget-sidebar', {user: user}) -%>

    <div id="root"></div>
    
  </div>
</div>

<%- include('partials/footer') -%>
