<%- include('partials/header') -%>
<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SIAM</b>PROJECT</a>
  </div>
  

  <div class="login-box-body">
    <% if ( typeof notify !== 'undefined' ) { %>
      <p class="alert alert-<%= (typeof type !== 'undefined') ? type : 'warning' %>"><%= notify.msg %></p> 
    <% }%>
    
    <p class="login-box-msg">Login to App</p>

    <form action="/auth" method="POST">

      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Email">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>


      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </div>
      

    </form>

    <a href="/forgot">I forgot my password</a><br>
    <a href="/register" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


<script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
    //   increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>
